body {
  font-family: "Space Mono";
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}
h1,
h2,
.medium {
  font-family: "Concert One";
}
@media (min-width: 1100px) {
  .big {
    font-size: 200px;
  }
  .medium {
    font-size: 100px;
  }
  body {
    margin: 50px 200px 0 200px;
  }
  .spaced {
    letter-spacing: 30px;
  }
}
@media (max-width: 1100px) {
  .big {
    font-size: 72px;
  }
  .medium {
    font-size: 48px;
  }
}
img {
  transition: 1s ease-in-out;
  opacity: 1;
  border-bottom: 0px solid red;
  border-right: 0px solid black;
}
img:hover {
  opacity: 0.5;
  border-bottom: 50px solid red;
  border-right: 50px solid grey;
}
button {
  transition: 1s ease-in-out;
  padding: 0;
  border-radius: 10px;
  border-bottom: 2px solid red;
  color: black;
}
button:hover {
  padding: 20px;
  border-radius: 30px;
  border-bottom: 10px solid red;
  color: red;
}
button:active {
  transition: 0.1s ease-in-out;
  color: black;
  border-bottom: 2px solid black;
}
.shadow {
  text-shadow: 2px 1px 5px red;
}
.center {
  text-align: center;
}
.red {
  color: red;
}
.padded {
  padding: 50px;
}
.spin {
  border-radius: 50%;
  -webkit-transition: color 2s, -webkit-transform 0.8s ease-in-out;
  transition: color 2s, transform 0.8s ease-in-out;
  color: black;
}
.spin:hover {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  color: red;
}
.box {
  color: black;
  transition: color 2s;
}
.box:hover {
  color: red;
}
